{% extends "base.html" %}
{% load tz %}
{% block title %}
  Block Detail
{% endblock title %}
{% block subtitle %}
  <h2 style="color:#000; font-weight:700; text-align: center;">Detalle de Bloque de Recetas y Transacciones</h2>
{% endblock subtitle %}
{% block content %}

<section class="container-fluid bg-midnight">
  <div class="row padding-2em">
    <article class="col-xs-12 col-lg-6 col-lg-offset-3 padding-2em">
      <div class="table-responsive">
      <table style="color:#626262;" id="crypto-table" class="shadowed_details table table-striped">
        <tr>
          <td colspan="2"><strong>Detalles</strong></td>
        </tr>
        <tr>
          <td>Tamaño</td>
          <td>{{ block_object.raw_size }} bytes</td>
        </tr>
        <tr>
          <td>Hash</td>
          <td>{{ block_object.hash_block }}</td>
        </tr>
        <tr>
          <td><strong>Hash anterior</strong></td>
          <td><a class="a_grey" href="/block/{{ block_object.previous_hash }}">{{ block_object.previous_hash }}</a></td>
        </tr>
        <tr>
          <td>Sello de Tiempo Real</td>
          <td class="a_grey">{{ block_object.timestamp|timezone:"America/Mexico_City" }}</td>
        </tr>
        <tr>
          <td>Raíz de Merkle <a class="a_grey" href="/glosario/">(¿Qué es esto?)</a></td>
          <td class="a_purple">{{ block_object.merkleroot }}</td>
        </tr>
        {% if block_object.data.xml_response %}
          <tr>
            <td><a href="{% url 'validate_certificate' block_object.merkleroot %}" class="a_grey">Certificado de Conservación NOM-151-SCFI-2016</a> <a class="a_grey" href="/glosario/">(¿Qué es esto?)</a></td>
            <td><a href="{% url 'validate_certificate' block_object.merkleroot %}" class="a_grey">{{ block_object.data.xml_response.Constancia }}</a></td>
          </tr>
          <tr>
            <td><a href="{% url 'validate_certificate' block_object.merkleroot %}" class="a_grey">Folio de Certificado de Conservación</a></td>
            <td><a href="{% url 'validate_certificate' block_object.merkleroot %}" class="a_grey">{{ block_object.data.xml_response.Folio }}</a></td>
          </tr>
        {% endif %}
      </table>
    </div>
    </article>
    <article class="col-xs-12 col-lg-6 col-lg-offset-3 padding-2em">
      <div class="table-responsive">
      <table style="color:#626262;" id="crypto-table" class="shadowed_details table table-striped">
        <tr>
          <td colspan="2"><strong>Transacciones en el bloque</strong></td>
        </tr>
        {% for hash in  block_object.data.hashes %}
        <tr>
          <td>Hash</td>
          <td><a class="a_grey" href="/hash/{{ hash }}">{{ hash }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
    </article>
  </div>
</section>

{% endblock content %}
