{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}
  Validate Transaction
{% endblock title %}
{% block subtitle %}
  <h2 style="color:#000; font-weight:700; margin-left:4em;">Validación de la Transacción contra notario blockchain</h2>
{% endblock subtitle %}
{% block content %}
  {# RX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="col-xs-12 col-lg-6">
            {# Rx info #}
            <div class="table-responsive">
            <table style="color:#626262;" id="crypto-table" class="shadowed_details table table-striped">
              <tr>
                <td colspan=""><strong>Estatus:</strong></td>
                <td>
                  <p><img width="32px" src="{% static "img/validate_icon.png" %}" alt="Transacción Valida"> Validado</p>
                </td>
              </tr>

                <tr>
                  <td>Timestamp Notarizada:</td>
                  <td class="a_green">{{ tx.block.timestamp|timezone:"America/Mexico_City" }}</td>
                </tr>
                <tr>
                   <td>Constancia Nom151 - <a href="{% url 'validate_certificate' tx.block.merkleroot %}" class="a_grey">Validar Constancia</a></td>
                   <td><a href="{% url 'validate_certificate' tx.block.merkleroot %}" class="a_grey">{{ tx.block.data.xml_response.Constancia }}</a></td>
                </tr>
                <tr>
                  <td>Raíz de Merkle de Prescrypto</td>
                  <td>{{ tx.block.merkle_root }}</td>
                </tr>
              </table>
            </div>
          </article>
        </div>
    </div>
  </section>
  </section>
{% endblock content %}

{% block jsblock %}

{% endblock jsblock %}
