{% extends "base.html" %}
{% load static %}
{% block title %}
  Validate Transaction
{% endblock title %}
{% block subtitle %}
  <h2 style="color:#000; font-weight:700; margin-left:4em;">Validación del Payload contra notario blockchain</h2>
{% endblock subtitle %}
{% block content %}
  {# RX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="col-xs-12 col-lg-6">
            {# Rx info #}
            <div class="table-responsive">
            <table style="color:#626262;" id="crypto-table" class="shadowed_details table table-striped">
              <tr>
                <td colspan="2"><strong>Evidencia:</strong></td>
              </tr>
                <tr>
                  <td>Timestamp Notarizada:</td>
                  <td class="a_green">{{ poe.received }}</td>
                </tr>
                <tr>
                  <td>Tx Id en la Blockchain:<a class="a_grey" href="/proof-of-existence/">(¿Qué es esto?)</a></td>
                  <td><a class="a_grey" href="{{ poe.poe_url }}" target="_blank">{{ poe.hash }}</a></td>
                </tr>
                <tr>
                  <td>Raíz de Merkle Blockchainizada</td>
                  <td>{{ poe.data_hex }}</td>
                </tr>
                <tr>
                  <td>Raíz de Merkle de Prescrypto</td>
                  <td>{{ poe.merkle_root }}</td>
                </tr>
              </table>
            </div>
          </article>
        </div>
    </div>
  </section>
  </section>
{% endblock content %}

{% block jsblock %}

{% endblock jsblock %}
