# django
Django==1.11.3

# Heroku
gunicorn==19.7.1
dj-database-url==0.4.2
whitenoise==3.3.0
psycopg2==2.7.1

# DRF
django-filter==1.0.4
Markdown==2.6.8
djangorestframework==3.6.3

# crypto
pycrypto==2.6.1
rsa==3.4.2
