# django
Django==1.11.3

# Heroku
gunicorn==19.7.1
dj-database-url==0.4.2
whitenoise==3.3.0
psycopg2==2.7.1

# DRF
django-filter==1.1.0
Markdown==2.6.11
djangorestframework==3.7.7

# crypto
pycrypto==2.6.1
rsa==3.4.2
merkletools==1.0.2
pysha3==1.0b1

# Others
django-jet==1.0.6

#QRCode
Pillow==4.2.1
qrcode==5.3

# Proof of Existence (ETH)
bitcoin==1.1.39
blockcypher==1.0.73
python-dateutil==2.2
