# django
Django==4.2.18

# Heroku
gunicorn==23.0.0
dj-database-url==2.0.0
whitenoise==5.3.0
psycopg2-binary==2.9.6

# DRF
django-filter==24.3
Markdown==3.7
djangorestframework==3.15.2
django-cors-headers==4.4.0

# crypto
pycryptodome==3.14.1
rsa==4.7
merkletools>=1.0.2
pysha3>=1.0.2  #1.0b1

# Others
# Django 3 Jet, fork for compatibility
# Remove the reference of the commit when upgrade 4.0
-e git+https://github.com/Barukimang/django-jet.git@dev#egg=django-4-jet
xmltodict==0.12.0

#QRCode
Pillow==10.3.0
qrcode==7.3.1

# Proof of Existence (ETH)
bitcoin==1.1.39
blockcypher>=1.0.73
python-dateutil==2.7.2

# Redis
redis==5.0.8
rq==1.16.2
django-redis==5.4.0
django-rq==2.10.2

# Jira
jira==2.0.0
