@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');
body{
  color: #F0F0F7;
  font-family: "Source Sans Pro";
  background-color: #F0F0F7;
}
p, a{
  font-family: "Source Sans Pro";
  text-align: justify;
}
.bg-blank{
  background: #fff;
}
h3{
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
footer.container-fluid{
  background-color: #4E4E4E;
  color: #fff;
  padding: 20px 120px 5px 120px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}
.footeranch{
  padding-bottom: 15px;
}
.social{
  padding-top: 90px;
  text-align: right;
}
.bg-portrait{
    background: ##F0F0F7;
}
.bg-grey{
    background: #F0F0F7;
}
.teko{
	font-family: "Source Sans";
	letter-spacing: 1.5px;
  font-size: 15px!important;
  font-weight: 700;
  color: white;
}
a.teko:hover{
  text-decoration: none;
}
.main-title{
  color:#000;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 40px;
  margin-left:4em;
}
.genobank{
	color: #ffffff
}
.title-font a{
	color: white!important;
}
.navbar{
  margin-bottom: 10px;
  padding-bottom: 10px;
  width:70%;
  margin:auto;
}
header.container-fluid.bg-blank{
  background-color: #000;
}
.navbar-default {
  background-color: #000;
  border : 0;
}
ul.nav.navbar-nav.navbar-right{
  padding-top: 10px;
}
.hero{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3em;
}
.padding-2em{
  padding-top: 10px;
  padding-bottom: 2em;
}
.crypto-table{
  color: #626262;
  background-color: #FAFAFA;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
  padding: 1em 1.5em;
}
.table > tbody > tr > td{
  border-top: 0px;
  padding: 1em 1.5em;
  max-width:200px; /* Customise it accordingly */
  overflow: hidden;
  text-overflow: ellipsis;
}
.a_purple{
  color:#A3A0FB!important;
}
.a_grey{
  color:#626262!important;
}
.a_green{
  color:#4AD991!important;
}
a{
  color : #fff !important;
}
a.greybutton, #visualize-button, #decrypt-button{
  background-color:#626262;
  color:#fff;
  font-weight:700;
  border:0px;
}
a.greybutton:hover{
  background-color:#626262;
  color:#fff;
  font-weight:700;
  border:0px;
}
.whiteblock{
  color: #4D4F5C;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width:30%;
  margin:7px;
}
.mainblock{
  color: #4D4F5C;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  width:1020px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#total_medic{
  color:#FF6565;
  font-size: 20px;
}
#prescriptday{
  color:#A3A0FB;
  font-size: 20px;
}
#prescriptmonth{
  color:#4AD991;
  font-size: 20px;
}
.centeredrow{
  margin-left:50px;
}
.shadowbl{
  color: #4D4F5C;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 7px;
  padding:20px;
}
.shadowbl_blue{
  color: #fff;
  background-color: #3B86FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 7px;
  padding: 20px;
}
#search-block{
  color:#fff;
  background-color: #4E4E4E;
  border-radius: 0;
}
.shadowed_details{
  background-color:#fff;
  padding:0px!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input.form-control{
  border-radius: 0;
  width:200px!important;
}
.navbar-form{
  padding-left:0!important;
}
/* RT Chart CSS */
.highcharts-title{
  font-family: "Source Sans Pro"!important;
  text-transform: none!important;
}
.graph_section{
  width:670px!important;
  height:310px;
  margin : 7px 0px 0px 7px;
  padding:0;
  background-color:#fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.receta_count{
  padding-left:80px;
}
#num_receta{
  font-size:3em;
  font-weight:600;
  color:#535353;
}
.graph_h5{
  color:#909090;
  font-weight:300;
}
.highcharts-credits{
  display:none;
}

/* Responsive */
@media (max-width: 900px) {
  form.navbar-form.navbar-right{
    display: none!important;
  }
  #stat_section{
    display: none!important;
  }
  .main-title{
    font-size:30px;
  }
  .mainblock{
    width: 100%!important;
  }
  footer{
    padding:40px!important;
  }
  .footer_txt, .footer_title{
    display: none;
  }
  .footer_menu{
    width:150px;
  }
  .social{
  padding-top: 5px;
  text-align: left;
  }
}
@media (max-width: 700px) {
  .whiteblock{
    width:100%;
    margin:auto;
  }
  .mainblock{
    width: 600px;
  }
}

@media (max-width: 1200px) {
  div#infosearch{
    width:100%!important;
    margin:auto;
  }
  #graphica{
    width:100%!important;
    height:100%!important;
    margin:auto;
  }
  .graph_section{
  width:900px!important;
  }
}
