@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    color: #fff;
    font-family: "Open Sans";
}
p, a{
    font-family: "Open Sans";
}
.bg-blank{
    background: #fff;
}
.bg-portrait{
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    background: linear-gradient(to right, #D7DDE8, #757F9A);
}
.bg-midnight{
    background: #6400ff;
    background: -webkit-linear-gradient(to right, #232526, #6400ff);
    background: linear-gradient(to right, #232526, #6400ff);
}
.bg-blue-sky{
    background: #6400ff;
    background: -webkit-linear-gradient(to right, #232526, #6400ff);
    background: linear-gradient(to right, #232526, #6400ff);

}
.teko{
	font-family: "Teko";
	letter-spacing: 1.5px;
}
.genobank{
	color: #ffffff
}
.title-font{
    font-family: "Teko";
    font-size: 2.2em;
    font-weight: 700;
    text-decoration: none;
}
.title-font a{
	color: rgb(98, 57, 189)!important;
}
.title-font a:hover{
    text-decoration: none;
}
.navbar{
    margin-bottom: 10px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.hero{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
}
.padding-2em{
    padding-top: 2em;
    padding-bottom: 2em;
}
.crypto-table{
    color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #000105;
    padding: 1em 1.5em;
}
.table > tbody > tr > td{
    border-top: 0px;
    padding: 1em 1.5em;
    max-width:200px; /* Customise it accordingly */
    overflow: hidden;
    text-overflow: ellipsis;
}
.a_white{
    color: #fff;
}
.a_white:hover{
    color: #4384c3;
}
.font-blue{
    color: #337ab7;
}
.powered{
    color:#ffd800;

}
.powered:hover{
    color:#3e3e3e;

}

/* Ribbon with alpha stuff */
.ribbon {
  background-color: #000000;
  overflow: hidden;
  white-space: nowrap;
  /* top right corner */
  position: absolute;
  right: -70px;
  top: 35px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(+45deg);
     -moz-transform: rotate(+45deg);
      -ms-transform: rotate(+45deg);
       -o-transform: rotate(+45deg);
          transform: rotate(+45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
/* /Ribbon */
