@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');
body{
    color: #F0F0F7;
    font-family: "Source Sans";
}
p, a{
    font-family: "Source Sans";
}
.bg-blank{
    background: #fff;
}
footer{
  background-color: #4E4E4E;
  color: #fff;
}
.bg-portrait{
    background: ##F0F0F7;
}
.bg-midnight{
    background: #6400ff;
    background: -webkit-linear-gradient(to right, #232526, #6400ff);
    background: linear-gradient(to right, #232526, #6400ff);
}
.bg-grey{
    background: #F0F0F7;

}
.teko{
	font-family: "Source Sans";
	letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
a.teko:hover{
  text-decoration: none;
}
.main-title{
  color:#000;
  font-family: Source Sans;
  font-weight: 700;
  font-size: 40px;
}
.genobank{
	color: #ffffff
}
.title-font a{
	color: white!important;
}
.navbar{
    margin-bottom: 10px;
}
header.container-fluid.bg-blank{
  background-color: #000;
}
.navbar-default {
    background-color: #000;
    border : 0;
}
a{
  color : #fff !important;
}
ul.nav.navbar-nav.navbar-right{
  padding-top: 10px;
}
.hero{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 3em;
}
.padding-2em{
    padding-top: 2em;
    padding-bottom: 2em;
}
.crypto-table{
    color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #000105;
    padding: 1em 1.5em;
}
.table > tbody > tr > td{
    border-top: 0px;
    padding: 1em 1.5em;
    max-width:200px; /* Customise it accordingly */
    overflow: hidden;
    text-overflow: ellipsis;
}
.a_white{
    color: #fff;
}
.a_white:hover{
    color: #4384c3;
}
.font-blue{
    color: #337ab7;
}
.powered{
    color:#ffd800;

}
.powered:hover{
    color:#3e3e3e;

}

/* Ribbon with alpha stuff */
.ribbon {
  background-color: #000000;
  overflow: hidden;
  white-space: nowrap;
  /* top right corner */
  position: absolute;
  right: -70px;
  top: 35px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(+45deg);
     -moz-transform: rotate(+45deg);
      -ms-transform: rotate(+45deg);
       -o-transform: rotate(+45deg);
          transform: rotate(+45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
/* /Ribbon */
