{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}
{# Block HOME #}
{% block content %}
<!-- STATISTICS SECTION-->
<section id="stat_section">
  <div class="container">
    <div class="row centeredrow">
      <!-- First block-->
      <div class="whiteblock col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-md-3"><img src="{% static 'media/icon_medic.svg' %}" alt=""></div>
          <div class="col-md-9">
            <p id="total_medic">00</p>
            <p>Total de médicos</p>
          </div>
        </div>
      </div>
      <!-- Second Block-->
      <div class="whiteblock col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-md-3"><img src="{% static 'media/icon_day.svg' %}" alt=""></div>
          <div class="col-md-9">
            <p id="prescriptday">000</p>
            <p>Prescripciones / día</p>
          </div>
        </div>
      </div>
      <!-- Third Block-->
      <div class="whiteblock col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-md-3"><img src="{% static 'media/icon_month.svg' %}" alt=""></div>
          <div class="col-md-9">
            <p id="prescriptmonth">0000</p>
            <p>Prescripciones / mes</p>
          </div>
        </div>
      </div>
    </div> <!--Closing main row-->
  </div> <!-- Closing container-->
</section>
<!-- Closing Statistic Section-->

<!-- Graphics section-->
<section id="stat_section">
  <div class="container">
    <div class="row centeredrow">
      <!-- First block-->
      <div class="col-md-4" id="infosearch" style="width:30%; margin-right:14px;">
        <div class="row">
          <div class="shadowbl_blue col-md-12" style="height:148px">
            <h2 style="color:#fff"><strong>
              <SCRIPT LANGUAGE="Javascript">
                <!--
                // Array of day names
                var dayNames = new Array("Domingo","Lunes","Martes","Miercoles",
                        "Jueves","Viernes","Sábado");

                // Array of month Names
                var monthNames = new Array(
                "Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio",
                "Agosto","Septiembre","Octubre","Noviembre","Diciembre");

                var now = new Date();
                document.write(dayNames[now.getDay()] + ", " +
                monthNames[now.getMonth()] + " " +
                now.getDate() + ", " + now.getFullYear());

                // -->
              </SCRIPT></strong>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="shadowbl col-md-12" style="height:150px">
            <h2>Busqueda</h2>
            <form method="GET" action="/hash" class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" name="hash_rx" placeholder="Tx Hash" required>
              </div>
              <button type="submit" id="search-block" class="btn btn-default">Buscar</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Second Block-->
      <div class="graph_section col-md-8" style="width:61%; height:310px;">
        <div id="container" style="min-width: 100%; height: 220px; margin: 0 auto"></div>
        <div class="receta_count">
        <h5 class="graph_h5">Total de recetas emitidas :<br><span id="num_receta">105,668</span></h5>
        </div>
      </div>
    </div> <!--Closing main row-->
  </div> <!-- Closing container-->
</section>

<!-- Recent blocks Section-->
<section>
  <div class="container mainblock">
    <div class="row">
      <div class="col-xs-12">
        <h3>BLOCKS RECIENTES</h3>
        {# last 5 blocks #}
        <table id="crypto-table" class="table table-striped">
          <tr>
            <td>Tamaño</td>
            <td>Hash</td>
            <td class="text-center">Cuándo</td>
          </tr>
          {% for rx_block in rx_blocks %}
            <tr>
              <td><a class="a_purple" href="/block/{{ rx_block.hash_block }}/"> {{ rx_block.raw_size }} bytes</a></td>
              <td class="text-center hidden-xs"><a class="a_grey" href="/block/{{ rx_block.hash_block }}/">{{ rx_block.hash_block }}</a></td>
              <td class="text-center visible-xs-block hash_block-mobile"><a class="a_grey" href="/block/{{ rx_block.hash_block }}/">{{ rx_block.hash_block }}</a></td>
              <td class="text-center"><a class="a_green" href="/block/{{ rx_block.hash_block }}/"><span>{{ rx_block.timestamp|timezone:"America/Mexico_City"|timesince }}</span></a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>PRESCRIPCIONES RECIENTES</h3>
        {# last 5 rx #}
        <table id="crypto-table" class="table table-striped">
          <tr>
            <td>Tamaño</td>
            <td>Hash</td>
            <td class="text-center">Cuándo</td>
            </tr>
          {% for rx in prescriptions %}
          <tr>
            <td><a class="a_purple" href="/hash/{{ rx.rxid }}/"> {{ rx.raw_size }} bytes</a></td>
            <td class="text-center hidden-xs"><a class="a_grey" href="/hash/{{ rx.rxid }}/">{{ rx.rxid }}</a></td>
            <td class="text-center visible-xs-block signature-mobile"><a class="a_grey" href="/hash/{{ rx.rxid }}/">{{ rx.rxid }}</a></td>
            <td class="text-center"><a class="a_green" href="/hash/{{ rx.rxid }}/"><span>{{ rx.get_delta_datetime|timezone:"America/Mexico_City"|timesince }}</span></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block jsblock %}
<script>
  var MEDICOS = "39";
  var PRESDAY = "270";
  var PRESMONTH = "8123";

  document.getElementById("total_medic").innerHTML = MEDICOS;
  document.getElementById("prescriptday").innerHTML = PRESDAY;
  document.getElementById("prescriptmonth").innerHTML = PRESMONTH;
</script>

  <!-- Highcharts source files-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/js/themes/dark-unica.js"></script>

  <!--Real time charts Javascript Code-->
  <script>
    var chart; // global
    var HOSTNAME = window.location.protocol+'//'+window.location.hostname+(window.location.port ? ':'+window.location.port: '');
    var TX_STATISTICS_ENDPOINT = HOSTNAME + "/tx-statistics/";
    function requestData() {
    $.ajax({
        url: TX_STATISTICS_ENDPOINT,
        success: function(point) {
            var series = chart.series[0],
                shift = series.data.length > 20; // shift if the series is
                                                 // longer than 20

            // add the point
            chart.series[0].addPoint(point, true, shift);

            // call it again after one second
            setTimeout(requestData, 1000);

            // Add to counter
            document.getElementById("num_receta").innerHTML=point[1];
        },
        cache: false
    });
}

document.addEventListener('DOMContentLoaded', function() {
  window.chart = new Highcharts.Chart({
    chart: {
      renderTo: 'container',
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
        load: requestData
      }
    },
    title: {
      text: 'Prescripciones / s'
    },
    xAxis: {
      type: 'datetime',
      tickPixelInterval: 150
    },
    yAxis: {
      title: {
        text: ''
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    },
    tooltip: {
      formatter: function () {
        return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
          Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {
      enabled: false
    },
    exporting: {
      enabled: false
    },
    series: [{
      name: 'Prescripciones/s',
      data: []
    }]
  });
});
  </script>

{% endblock jsblock %}
