{% extends "base.html" %}
{% load tz %}
{% block title %}
  Proof of Existence
{% endblock title %}
{% block subtitle %}
  <h2>Acerca de Prueba de Existencia</h2>
{% endblock subtitle %}
{% block content %}

<section class="container-fluid bg-midnight">
  <div class="row padding-2em">
    <article class="col-xs-12 col-lg-6 col-lg-offset-3 padding-2em">
      <h3>Prueba de Existencia</h3>
      <p>El protocolo de Prueba de Existencia inserta una firma criptográfica de datos, típicamente un "hash" usando un algoritmo estandar como SHA256, en la blockchain como evidencia de que los datos están siendo almacenados. Una vez que se tiene la confirmación de que los datos se almacenaron correctamente, el documento estará permanentemente certificado y probado de su existencia con una estampa de tiempo. Esto permite probar publicamente que se tiene cierta información sin necesariamente revelar el contenido del documento. Todo dentro de una certificación descentralizada basada en la blockchain, sin requerir a una autoridad central.<br>
      <a href="https://maraoz.com/">Manuel Araoz</a>, desarrollador del proyecto "poex" menciona: "Las principales ventajas son la anonimicidad, privacidad y obtener una prueba descentralizada que no puede ser borrada o modificada por nadie (terceros o gobierno)".<br>
      Finalmente, si alguien desea probar la existencia de un documento en el tiempo, solo es necesario calcular el hash SHA256 del documento y encontrar la transacción en la red de blockchain. La existencia de la transacción es prueba de que el documento ha existido desde la estampa del tiempo del documento.<br>
      </p>

    </article>
  </div>
</section>

{% endblock content %}
