{% extends "base.html" %}
{% block title %}
  Rx Detail
{% endblock title %}
{% block subtitle %}
  <h2>Detalle de la receta</h2>
{% endblock subtitle %}
{% block content %}
  {# RX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="col-xs-12 col-lg-6">
            {# Rx info #}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Detalles</strong></td>
              </tr>
              {# for field in prescription #}
                <tr>
                  <td>Tamaño:</td>
                  <td>{{ rx.raw_size }} bytes</td>
                </tr>
                <tr>
                  <td>Medic Name:</td>
                  <td>{{ rx.medic_name }}</td>
                </tr>
                <tr>
                  <td>Medic Cedula:</td>
                  <td>{{ rx.medic_cedula }}</td>
                </tr>
                <tr>
                  <td>Medic Hospital:</td>
                  <td>{{ rx.medic_hospital }}</td>
                </tr>
                <tr>
                  <td>Patient Name:</td>
                  <td>{{ rx.patient_name }}</td>
                </tr>
                <tr>
                  <td>Patient Age:</td>
                  <td>{{ rx.patient_age }}</td>
                </tr>
                <tr>
                  <td>Timestamp:</td>
                  <td>{{ rx.timestamp }}</td>
                </tr>
                <tr>
                  <td>Diagnostico:</td>
                  <td>{{ rx.diagnosis}}</td>
                </tr>
              {# endfor #}
              </table>
          </article>

          <article class="col-xs-12 col-lg-6">
            {#Hashes info#}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Hashes</strong></td>
              </tr>
              <tr>
                  <td>Hash:</td>
                  <td><a href="/hash/{{rx.signature}}">{{ rx.signature }}</a></td>
              </tr>
              <tr>
                  <td>Hash Anterior:</td>
                  <td><a href="/hash/{{ rx.get_before_hash }}">{{ rx.get_before_hash }}</a></td>
              </tr>

            </table>

          </article>
        </div>
    </div>
  </section>
{% endblock content %}