{% extends "base.html" %}
{% block title %}
  Rx Detail
{% endblock title %}
{% block subtitle %}
  <h2>Detalle de la receta</h2>
{% endblock subtitle %}
{% block content %}
  {# RX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="col-xs-12 col-lg-6">
            {# Rx info #}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Detalles</strong></td>
              </tr>
              {# for field in prescription #}
                <tr>
                  <td>Tamaño:</td>
                  <td>{{ rx.raw_size }} bytes</td>
                </tr>
                <tr>
                  <td>Medic Name:</td>
                  <td>{{ rx.medic_name }}</td>
                </tr>
                <tr>
                  <td>Medic Cedula:</td>
                  <td>{{ rx.medic_cedula }}</td>
                </tr>
                <tr>
                  <td>Medic Hospital:</td>
                  <td>{{ rx.medic_hospital }}</td>
                </tr>
                <tr>
                  <td>Patient Name:</td>
                  <td>{{ rx.patient_name }}</td>
                </tr>
                <tr>
                  <td>Patient Age:</td>
                  <td>{{ rx.patient_age }}</td>
                </tr>
                <tr>
                  <td>Timestamp:</td>
                  <td>{{ rx.timestamp }}</td>
                </tr>
                <tr>
                  <td>Diagnostico:</td>
                  <td>{{ rx.diagnosis}}</td>
                </tr>
              {# endfor #}
              </table>
          </article>

          <article class="col-xs-12 col-lg-6">
            {#Hashes info#}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Hashes</strong></td>
              </tr>
              <tr>
                  <td>Hash:</td>
                  <td><a href="/hash/{{rx.signature}}">{{ rx.signature }}</a></td>
              </tr>
              <tr>
                  <td>Hash Anterior:</td>
                  <td><a href="/hash/{{ rx.get_before_hash }}">{{ rx.get_before_hash }}</a></td>
              </tr>

            </table>

          </article>
        </div>
    </div>
  </section>
  <section class="container-fluid padding-2em bg-midnight">
    <div class="row padding-2em">
      <article class="col-xs-12 col-lg-8 col-lg-offset-2">
        ¿Tienes la clave privada para esta receta? Puedes visualizarla de manera segura aquí
        <button id="visualize-button" class="btn btn-primary btn-lg" type="button">Visualizar!</button>
        <div id="encrypt-box" class="hidden padding-2em">
          <form action="" method="" >
            <div class="form-group">
              <textarea rows="4" class="form-control" name="private-key-chain" placeholder="Pega tu clave privada aquí" required value="{{ hex_key }}"></textarea>
              <button id="decrypt-button" class="btn btn-primary btn-lg" type="submit">Desencriptar!</button>
            </div>
          </form>
        </div>
      </article>
    </div>
  </section>
{% endblock content %}

{% block jsblock %}
  <script>
    $("#visualize-button").click(function() {
      $("#encrypt-box").toggleClass("hidden");
    });
  </script>
{% endblock jsblock %}