{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block title %}
  Rx Detail
{% endblock title %}
{% block subtitle %}
  <h2>Detalle de la receta</h2>
{% endblock subtitle %}
{% block content %}
  {# RX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="col-xs-12 col-lg-6">
            {# Rx info #}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Detalles</strong></td>
              </tr>
              {# for field in prescription #}
                <tr>
                  <td>Tamaño:</td>
                  <td>{{ rx.raw_size }} bytes</td>
                </tr>
                <tr>
                  <td>Timestamp:</td>
                  <td>{{ rx.timestamp|timezone:"America/Mexico_City" }}</td>
                </tr>
                <tr>
                  <td>Medic Name:</td>
                  <td id="medic_name">{{ rx.get_data_base64.medic_name }}</td>
                </tr>
                <tr>
                  <td>Medic Cedula:</td>
                  <td id="medic_cedula">{{ rx.get_data_base64.medic_cedula }}</td>
                </tr>
                <tr>
                  <td>Medic Hospital:</td>
                  <td id="medic_hospital">{{ rx.get_data_base64.medic_hospital }}</td>
                </tr>
                <tr>
                  <td>Patient Name:</td>
                  <td id="patient_name">{{ rx.get_data_base64.patient_name }}</td>
                </tr>
                <tr>
                  <td>Patient Age:</td>
                  <td id="patient_age">{{ rx.get_data_base64.patient_age }}</td>
                </tr>
                <tr>
                  <td>Diagnostico:</td>
                  <td id="diagnosis">{{ rx.get_data_base64.diagnosis}}</td>
                </tr>
              {# endfor #}
                <tr><td colspan="2"><strong>Medicamentos:</strong></td></tr>
              {% for med in medications %}
                <tr>
                  <td>Medicamento {{ forloop.counter }}:</td>
                  <td id="medication">{{ med.presentation }}</td>
                </tr>
                <tr>
                  <td>Instrucciones {{ forloop.counter }}:</td>
                  <td id="instrucciones">{{ med.instructions }}</td>
                </tr>
              {% endfor %}
              </table>
          </article>

          <article class="col-xs-12 col-lg-6">
            {#Hashes info#}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Hashes</strong></td>
              </tr>
              <tr>
                  <td>Hash:</td>
                  <td><a href="/hash/{{rx.rxid}}">{{ rx.rxid }}</a></td>
              </tr>
              <tr>
                  <td>Hash Anterior:</td>
                  <td><a href="/hash/{{ rx.get_before_hash }}">{{ rx.get_before_hash }}</a></td>
              </tr>

            </table>
          </article>
          <article class="col-xs-12">
            <p>Public Key: <pre>{{ rx.public_key }}</pre></p>
          </article>
          <article class="col-xs-12 col-lg-6">
            <p class="text-center"><a href="/validate/{{rx.rxid}}/" class="btn btn-primary btn-lg" style="padding: .5em 4em; font-size:2em;">¡Validar!</a></p>
          </article>

        </div>
    </div>
  </section>
  <section class="container-fluid padding-2em bg-midnight">
    <div class="row padding-2em">
      <article class="col-xs-12 col-lg-8 col-lg-offset-2">
        ¿Tienes la clave privada para esta receta? Puedes visualizarla de manera segura aquí
        <button id="visualize-button" class="btn btn-primary btn-lg" type="button">Visualizar!</button>
        <div id="encrypt-box" class="padding-2em">
          <div class="form-group">
            <textarea id="priv_key_id"rows="4" class="form-control" name="private-key-chain" placeholder="Pega tu clave privada aquí"></textarea>
            <button id="decrypt-button" class="btn btn-primary btn-lg" type="submit">Desencriptar!</button>
            <p id="message"></p>
            <div id="qr-box" class="hidden">
              <p>Posiciona tu código QR aquí y dale clic en desencyptar</p>
              <div id="reader" style="width:100%;height:370px"></div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
{% endblock content %}

{% block jsblock %}
  <script src="{% static "js/jsencrypt.min.js" %}"></script>
  <script src="{% static "js/html5-qrcode.min.js" %}"></script>
  <script src="{% static "js/jsqrcode-combined.min.js" %}"></script>
  <script>

    $("#qr-box").toggleClass("hidden");

    $('#reader').html5_qrcode(function(data){
        // do something when code is read
        console.log(data);
        $('#messages').html("QR encontrado!");
        $('#priv_key_id').val(data);
        $('#reader').html5_qrcode_stop();
        $("#qr-box").toggleClass("hidden");

      }, function(error){
        //show read errors
        // Uncomment this to debug
        console.log(error);

      }, function(videoError){
        //the video stream could be opened
        // Uncomment this to debug
        console.log(error);
      }
    );
    //DECRYPT FUNCTION BUTTON
    $("#decrypt-button").click(function() {
      decryptBase("#medic_name");
      decryptBase("#medic_cedula");
      decryptBase("#medic_hospital");
      decryptBase("#patient_name");
      decryptBase("#patient_age");
      decryptBase("#diagnosis");
    });
    function decryptBase(baseTextID){
      var encrypted = $(baseTextID).html();
      // Decrypt with the private key...
      var decrypt = new JSEncrypt();
      decrypt.setPrivateKey($("#priv_key_id").val());
      var uncrypted = decrypt.decrypt(encrypted);
      $(baseTextID).html(uncrypted);
    };
</script>
{% endblock jsblock %}
