{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Validate Rx
{% endblock title %}
{% block subtitle %}
  <h2>Validación de Receta contra notario blockchain</h2>
{% endblock subtitle %}
{% block content %}
  {# RX Detail #}
  <section class="container-fluid bg-midnight">
    <div class="row padding-2em">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row">
          <article class="col-xs-12 col-lg-6">
            {# Rx info #}
            <table id="crypto-table" class="table table-striped">
              <tr>
                <td colspan="2"><strong>Evidencia:</strong></td>
              </tr>
                <tr>
                  <td>Timestamp Notarizada:</td>
                  <td>{{ poe.received }}</td>
                </tr>
                <tr>
                  <td>TxId en la Blockchain:<a href="/proof-of-existence/">(¿Qué es esto?)</a></td>
                  <td><a href="{{ poe_url }}">{{ poe.hash }}</a></td>
                </tr>
                <tr>
                  <td>Raíz de Merkle Blockchainizada</td>
                  <td>{{ poe.outputs.0.data_hex }}</td>
                </tr>
                <tr>
                  <td>Raíz de Merkle de Prescrypto</td>
                  <td>{{merkle_root}}</td>
                </tr>
              </table>
          </article>
        </div>
    </div>
  </section>
  </section>
{% endblock content %}

{% block jsblock %}

{% endblock jsblock %}
