{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}
{# Block HOME #}
{% block content %}
<!-- STATISTICS SECTION-->
<section id="stat_section">
  <div class="container">
    <div class="row centeredrow">
      <!-- First block-->
      <div class="whiteblock col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-md-3"><img src="{% static 'media/Icon_medic.svg' %}" alt=""></div>
          <div class="col-md-9">
            <p id="total_medic">00</p>
            <p>Total de médicos</p>
          </div>
        </div>
      </div>
      <!-- Second Block-->
      <div class="whiteblock col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-md-3"><img src="{% static 'media/Icon_day.svg' %}" alt=""></div>
          <div class="col-md-9">
            <p id="prescriptday">000</p>
            <p>Payloads / día</p>
          </div>
        </div>
      </div>
      <!-- Third Block-->
      <div class="whiteblock col-xs-12 col-sm-4">
        <div class="row">
          <div class="col-md-3"><img src="{% static 'media/Icon_month.svg' %}" alt=""></div>
          <div class="col-md-9">
            <p id="payloads_total">0000</p>
            <p>Payloads / Totales</p>
          </div>
        </div>
      </div>
    </div> <!--Closing main row-->
  </div> <!-- Closing container-->
</section>
<!-- Closing Statistic Section-->



<!-- Recent blocks Section-->
<section>
  <div class="container mainblock">
    <div class="row">
      <div class="col-xs-12">
        <h3>BLOCKS RECIENTES</h3>
        {# last 5 blocks #}
        <table id="crypto-table" class="table table-striped">
          <tr>
            <td>Tamaño</td>
            <td>Hash</td>
            <td class="text-center">Cuándo</td>
          </tr>
          {% for rx_block in rx_blocks %}
            <tr>
              <td><a class="a_purple" href="/block/{{ rx_block.hash_block }}/"> {{ rx_block.raw_size }} bytes</a></td>
              <td class="text-center hidden-xs"><a class="a_grey" href="/block/{{ rx_block.hash_block }}/">{{ rx_block.hash_block }}</a></td>
              <td class="text-center visible-xs-block hash_block-mobile"><a class="a_grey" href="/block/{{ rx_block.hash_block }}/">{{ rx_block.hash_block }}</a></td>
              <td class="text-center"><a class="a_green" href="/block/{{ rx_block.hash_block }}/"><span>{{ rx_block.timestamp|timezone:"America/Mexico_City"|timesince }}</span></a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>PAYLOADS RECIENTES</h3>
        <table id="crypto-table" class="table table-striped">
          <tr>
            <td>Tamaño</td>
            <td>Hash</td>
            <td class="text-center">Cuándo</td>
            </tr>
          {% for rx in payloads %}
          <tr>
            <td><a class="a_purple" href="/hash/{{ rx.hash_id }}/"> {{ rx.raw_size }} bytes</a></td>
            <td class="text-center hidden-xs"><a class="a_grey" href="/hash/{{ rx.hash_id }}/">{{ rx.hash_id }}</a></td>
            <td class="text-center visible-xs-block signature-mobile"><a class="a_grey" href="/hash/{{ rx.hash_id }}/">{{ rx.hash_id }}</a></td>
            <td class="text-center"><a class="a_green" href="/hash/{{ rx.hash_id }}/"><span>{{ rx.get_delta_datetime|timezone:"America/Mexico_City"|timesince }}</span></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block jsblock %}
<script>

  var totalMedic = "{{ total_medics }}";
  var rxByDay = "{{ rx_by_today }}";
  var payloads_total = "{{ payloads_total }}";


  document.getElementById("total_medic").innerHTML = totalMedic;
  document.getElementById("prescriptday").innerHTML = rxByDay;
  document.getElementById("payloads_total").innerHTML = payloads_total;
</script>


{% endblock jsblock %}
