{% extends "base.html" %}
{% load static %}
{% block title %}BattleField{% endblock %}
{% block subtitle %}
{% endblock subtitle %}
{% block cssblock %}
<style>
  #heading-hero{
    padding: 15em 0em;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #2c2c9e, #24243e);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #0f0c29, #2c2c9e, #24243e);

  }
  .biggerbutton{
    margin-top: 1em;
    padding: 1em 2em;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .subtitles{

    font-weight:700;
  }
  .sub2{
    color: rgb(240, 240, 247);
  }
  .feature-title{
    color: #6d6d6d;
  }
  .section-2{
    padding: 8em 0em;
  }
  .ctabutton{
    background: #4e49da;
    color: #6d6d6d;
    padding: 1em 2em;
  }
  .ctabutton:hover{
    background: hsla(242, 66%, 57%, 0.7);

  }
  .img-cta{
    border-radius: 50%;
    width: 240px;
  }
  .articlecta{
    padding-bottom: 2.2em;
  }
</style>
{% endblock cssblock %}

{% block content %}
{# SECTION HERO  #}
<section id="heading-hero" class="container-fluid">
  <article class="col-md-6 col-md-offset-3 text-center">
    <h1 class="subtitles">Gracias por ser parte del evento Battlefield de TechCrunch!</h1>
    <h3  class="sub2">Quieres saber más de RexChain! Da clic abajo</h3>
    <p class="text-center"><a class="btn btn-success biggerbutton clearfix" href="{{ WHITEPAPPER_URL }}" title="Find out more details">CONOCER MÁS</a></p>
  </article>
</section>

{# SECTION CALL TO ACTIONS #}
<section class="container section-2">
  {# article CALLTOACTION #}
  <article class="col-md-4 text-center articlecta">
    <img src="{% static "landing/whitepaper-logo.svg" %}" class="img-thumbnail img-cta" alt="RexChain Logo">
    <h3 class="feature-title">LEE NUESTRO WHITEPAPER</h3>
    <a id="gotowhitepaper" href="{{ WHITEPAPPER_URL }}" class="btn btn-default ctabutton">IR AHORA!</a>
  </article>
  {# article CALLTOACTION #}
  <article class="col-md-4 text-center articlecta">
    <img src="{% static "landing/prescrypto-logo.png" %}" class="img-thumbnail img-cta" alt="RexChain Logo">
    <h3 class="feature-title">CONOCE PRESCRYPTO</h3>
    <a id="gotoprescrypto" href="https://www.prescrypto.com/?ref=rexchain-battlefield" class="btn btn-default ctabutton">IR AHORA!</a>
  </article>
  {# article CALLTOACTION #}
  <article class="col-md-4 text-center articlecta">
    <img src="{% static "landing/blockchain-logo2.png" %}" class="img-thumbnail img-cta" alt="RexChain Logo">
    <h3 class="feature-title">CONOCE NUESTRA BLOCKCHAIN</h3>
    <a id="gotoourblockchain" href="/?ref=rexchain-battlefield" class="btn btn-default ctabutton">IR AHORA!</a>
  </article>
</section>
{% endblock content %}
